version: '3.8'
services:

  # 1. Database (PostgreSQL)
  postgres:
    image: postgres:15-alpine
    container_name: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: student
      POSTGRES_DB: soa_db
    ports:
      - "55432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  # 2. Nginx 
  nginx:
    image: nginx:stable-alpine
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      api-gateway:
        condition: service_healthy
    restart: always

  # 3. API Gateway 
  api-gateway:
    build:
      context: ./api-gateway/api-gateway
      dockerfile: Dockerfile
    image: api-gateway-app:latest
    container_name: api-gateway
    environment:
      USER_SERVICE_URL: http://user-service:8081
      BILLING_SERVICE_URL: http://billing-service:8082
      RECOMMENDATION_SERVICE_URL: http://recommendation-service:8083
      NOTIFICATION_SERVICE_URL: http://notification-service:8084
      JWT_SECRET_KEY: "YmFzZTY0X2VuY29kZWRfc3VwZXJfc2VjcmV0X2tleV9mb3Jfc29hX3Byb2plY3RfMjAyNA=="
    ports:
      - "8080:8080"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/users/health"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 30s
    depends_on:
      user-service:
        condition: service_started
      billing-service:
        condition: service_started
      recommendation-service:
        condition: service_started
      notification-service:
        condition: service_started


  # 4. UserService (Microservice #1)
  user-service:
    build:
      context: ./user-service/user-service
      dockerfile: Dockerfile
    image: user-service-app:latest
    container_name: user-service
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/soa_db
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: student
      SERVER_PORT: 8081
      JWT_SECRET_KEY: "YmFzZTY0X2VuY29kZWRfc3VwZXJfc2VjcmV0X2tleV9mb3Jfc29hX3Byb2plY3RfMjAyNA=="
    ports:
      - "8081:8081"
    depends_on:
      postgres:
        condition: service_healthy

   # 5. BillingService (Microservice #2)
  billing-service:
    build:
      context: ./billing-service/billing-service
      dockerfile: Dockerfile
    image: billing-service-app:latest
    container_name: billing-service
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/soa_db
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: student
      SERVER_PORT: 8082
      KAFKA_BOOTSTRAP_SERVERS: kafka:9092
    ports:
      - "8082:8082"
    depends_on:
      postgres:
        condition: service_healthy
      kafka:
        condition: service_started

  # 6. Kafka and Zookeeper
  zookeeper:
    image: confluentinc/cp-zookeeper:7.4.0
    container_name: zookeeper
    hostname: zookeeper
    ports:
      - "2181:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000

  kafka:
    image: confluentinc/cp-kafka:7.4.0
    container_name: kafka
    hostname: kafka
    ports:
      - "29092:29092" 
    depends_on:
      - zookeeper
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: 'zookeeper:2181' 
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:29092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

  # 7. RecommendationService (Microservice #3)
  recommendation-service:
    build: ./recommendation-service/recommendation-service
    container_name: recommendation-service
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/soa_db
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: student
      KAFKA_BOOTSTRAP_SERVERS: kafka:9092
      SPRING_RABBITMQ_HOST: rabbitmq
      SERVER_PORT: 8083
      FAAS_URL: http://carbon-calculator:8080
    ports:
      - "8083:8083"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8083/recommendations/health"]
      interval: 10s
      timeout: 5s
      retries: 5
    depends_on:
      postgres:
        condition: service_healthy
      kafka:
        condition: service_started
      rabbitmq:
        condition: service_healthy
      carbon-calculator:
        condition: service_started

  # 8. Carbon Calculator Function (OpenFaaS)
  carbon-calculator:
    build: ./functions/carbon-calculator
    container_name: carbon-calculator
    environment:
      # pass value to the function
      intensity_factor: "0.70"

  # 9. RabbitMQ
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"   # RabbitMQ AMQP port
      - "15672:15672" # RabbitMQ Management UI
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "check_port_connectivity"]
      interval: 10s
      timeout: 5s
      retries: 10 # Increase this to 10 (100 seconds total)
      start_period: 30s # Give it a 30s grace period before starting checks

  # 10. NotificationService (Microservice #4)
  notification-service:
    build: ./notification-service/notification-service
    container_name: notification-service
    environment:
      SPRING_RABBITMQ_HOST: rabbitmq
      SERVER_PORT: 8084
    depends_on:
      rabbitmq:
        condition: service_healthy

volumes:
  postgres_data: